<h1>gem-practice</h1>
<!--devise（認証機能）-->
<div class = "gem-box">
  <h3>devise（認証機能）</h3>
  <% if user_signed_in? %>
    <p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
  <% else %>
    <p><%= link_to "新規登録", new_user_registration_path %></p>
    <p><%= link_to "ログイン", new_user_session_path %></p>
  <% end %>
  <h4>参考：</h4>
  <a href = "https://qiita.com/yuki82511988/items/73659af9d1049bd1b256">deviseの導入方法</a>
</div>
<!--cancancan（管理者権限）-->
<div class = "gem-box">
  <h3>cancancan（管理者権限）</h3>
  <!--ログインしてるユーザーが管理者の場合のみ-->
  <% if current_user.try(:admin?) %>
    <%= link_to '管理者ページへ', rails_admin_path %>
  <% else %>
    ログインしていないか、管理者ではありません。
  <% end %>
  <h4>参考：</h4>
  <a href = "https://qiita.com/nakachan1994/items/d5357d10dd6fd132fa92">導入方法</a><br>
  <a href = "https://qiita.com/yuki82511988/items/73659af9d1049bd1b256">seedファイルを使って管理者を設定する方法</a>
</div>
<!--acts-as-taggable-on（タグ付け）-->
<div class = "gem-box">
  <h3>acts-as-taggable-on（タグ付け）</h3>
  <p><%= link_to "本の一覧", books_path %></p>
  <% if user_signed_in? %>
    <p><%= link_to "本を投稿する", new_book_path %></p>
  <% else %>
    <p>本を投稿するにはログインして下さい</p>
  <% end %>
  <h4>参考：</h4>
  <a href = "https://qiita.com/manbolila/items/3f178b7698d877a29b12">導入方法</a><br>
</div>
<!--bootstrap_form（フォーム用の簡易デザイン）-->
<div class = "gem-box">
  <h3>bootstrap_form（フォーム用の簡易デザイン）</h3>
  <p>※投稿フォームの下に導入したバージョンのフォームを入れている</p>
  <% if user_signed_in? %>
    <p><%= link_to "本を投稿する", new_book_path %></p>
  <% else %>
    <p>本を投稿するにはログインして下さい</p>
  <% end %>
  <h4>参考：</h4>
  <a href = "https://qiita.com/knt45/items/707898ff2d74c2be9061">導入方法</a><br>
  <a href = "https://github.com/bootstrap-ruby/bootstrap_form#readme">詳しい設定方法（英語）</a>
</div>
<!--rails-i18n（日本語化）-->
<div class = "gem-box">
  <h3>rails-i18n（日本語化）</h3>
  <p>deviseとbootstrap_formを日本語化している</p>
  <h4>参考：</h4>
  <a href = "https://qiita.com/tsunemiso/items/bedc7593c7ccd05c395b">導入、日本語化設定方法</a><br>
</div>
<!--ransack（検索機能）-->
<div class = "gem-box">
  <h3>ransack（検索機能）</h3>
  <p class = "mb-1">一覧表の上に検索機能を実装</p>
  <p><%= link_to "本の一覧", books_path %></p>
  <h4>参考：</h4>
  <a href = "https://qiita.com/nojinoji/items/e1b174220da8c81a1756">導入方法</a><br>
</div>
